.section {
    margin: 0 20px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.groupList {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 24px;
    row-gap: 32px;
    flex-wrap: wrap;
}

.ingredientSection {
    scroll-snap-align: start;
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;
    width: 240px;
    cursor: pointer;
    scroll-snap-align: start;
}

.ingredientPrice {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ingredientName {
    text-align: center;
}

.tabContainer {
    display: flex;
}

.listContainer {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}


