.readyOrderNumber {
    color: var(--colors-interface-success);
}

.OrderInfoWrapper {
    margin-top: -25px;
}

.IngredientList {
    overflow-y: auto;
    max-height: 320px;
    padding-right: 8px;
}

.IngredientItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    gap: 16px;
}

.IngredientNameWithIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.IngredientPriceWithCount {
    display: flex;
    align-items: center;
    gap: 8px;
}

.IngredientFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.IngredientPrice {
    display: flex;
    align-items: center;
    gap: 8px;
}